.heading {
    margin-top: 0;
    margin-bottom: 35px;
    &--level-1 {
        font-size: $headingLevel-1-FontSize;
    }
    &--level-2 {
        font-size: $headingLevel-2-FontSize;
    }
    &--level-3 {
        font-size: $headingLevel-3-FontSize;
    }
    &--heavy {
        font-weight: 800;
    }
    &--bright {
        color:#ffffff;
    }
}