.gallery {
    background: #ffe92f;
    &__header {
        margin-bottom: 44px;
        padding-top: 90px;
    }
  &__article {
      width: 50%;
      margin: 0 auto;
  }
  .gall-top {
      display: flex;
  }
}